<html>
    <head>
        <script type="module">
            import { go } from "./0.js";
            import { go as fail } from "./fail.js";

            window.check = async () => {
                let flag = document.querySelector("#input").value;
                if (!flag.startsWith("picoCTF{") || !flag.endsWith("}")) {
                    await fail();
                    return;
                }
                flag = flag.slice(8, -1);

                window.buffer = flag.split("");
                go();
            }
        </script>
        <style>
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.input-form .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 24rem;
}
        </style>
    </head>
    <body>
        <div class="input-form">
            <div class="frame">
                <input type="text" id="input" placeholder="picoCTF{...}"/>
                <button onclick="check()">Check</button>
            </div>
        </div>
    </body>
</html>